* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --text-color-secundary: #d9d9d9;
  --background: #030304;
  --test-color: #843;
  --notification: #00bc4f;
  --notification-lighter: #5aee97;
  --line: #474747;
  --card-color: #202025;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
  color: var(--text-color);
  width: 100%;
  height: 100vh;
}

.container {
  padding: 1.75rem;
}

nav ul img {
  width: 1rem;
  height: 1rem;
  /*margin-right: 1rem;*/
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  background: var(--background);
  font-size: 0.75rem;
}

ul {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

li {
  list-style: none;
}

li:hover {
  border-bottom: 1px solid var(--notification);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: center;
  background: rgb(18,18,18);
  background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgb(18, 66, 34) 50%, rgba(18,18,18,1) 100%);
  padding: 1rem 7.25rem;
  text-align: center;
}

header h1 {
  font-size: 2.375rem;
  background: #00CE2C;
  line-height: 1.875rem;
  background: linear-gradient(to right, #00CE2C 16%, #AEDF23 56%, #A3DC00 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header span {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.375rem;
  text-align: center;
  min-width: 11.4375rem;
  color: var(--text-color-secundary);
}

header .hero {
  display: flex;
  align-items: center;
}

header figure {
  display: none;
}

/*CONTAINER*/
.update {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.notification {
  top: 0;
  left: 0;
  width: 0.6875rem;
  height: 0.6875rem;
  background: var(--notification);
  border-radius: 50%;
  animation: notification 2s infinite;
}

@keyframes notification {
  0% {
    box-sizing: 0 0 0.3125rem 0.125rem var(--notification);
  }

  70% {
    box-shadow: 0 0 0.1875rem 0.5625rem var(--notification-lighter);
  }

  100% {
    box-shadow: 0 0 0.3125rem 0.125rem var(--notification);
  }
}

.update p {
  font-size: 0.75rem;
  font-weight: 300;
}

.quotes {
  margin: 1.875rem 0;
}

section h3 {
  font-size: 0.75rem;
  font-weight: 300;
}

.line {
  width: 100%;
  height: 0.0625rem;
  margin: 0.5rem 0;
  background-color: var(--line);
}

.quotes-content {
  display: grid;
  gap: 1.25rem;
}

.cards {
  display: flex;

  background: var(--card-color);
  border-radius: 0.1875rem;
  border: 1px solid var(--line);
  padding: 0.625rem 0.75rem;
  width: 100%;
  align-items: center;
}

.cards div {
  display: flex;
  flex-direction: column;
  margin-left: 0.625rem;
}

.cards img {
  width: 1.875rem;
  height: 1.875rem;
}

.cards .card-title {
  font-size: 0.75rem;
  color: var(--text-color-secundary);
}

.cards .card-value {
  font-size: 0.75rem;
  color: var(--text-color-secundary);
}

footer {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
}